<!--O w-100 é para utilizar 100% do local que está especificado-->
<!--mt esta especificando a margem-->
<!--text monospace é a fonte do texto-->
<!--text justify é para justificar o meu texto-->
<!--parallax é onde fica a imagem de fundo e todo conteudo fica passando por ela, a classe é criada aqui mas as alterações é feita no css-->


<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
        </div> 
    </div> 

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem magnam ipsa, fuga praesentium eos 
                odio repellat architecto dolorem corrupti nostrum vero nisi nesciunt deleniti laboriosam. Natus reiciendis
                ratione saepe eveniet?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae suscipit placeat nobis
                laudantium dignissimos ratione reiciendis cupiditate? Nisi autem, laboriosam corporis, voluptas magni,
                accusamus quisquam quasi doloribus nesciunt saepe placeat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, nesciunt magnam placeat maxime earum sed tempora, 
                laudantium, totam voluptatem consectetur modi. Molestias, beatae explicabo. Minus praesentium voluptatibus officiis 
                laudantium quidem.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>


