<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-light">Siga-nos nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
              <ul class="social-network">
               <li><a href="https://github.com/HenriqueMarcelino" target="_blank" class="icoGitHub" title="faGitHub">
                 <fa-icon [icon]="faGitHub" class="faGitHub fa-3x p-3"></fa-icon>
                </a></li>
                <li><a href="https://www.linkedin.com/in/henrique-marcelino-b00954191/" target="_blank" class="icoLinkedin" title="faLinkedin">
                    <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
                   </a></li>
              </ul>
      </div>
      </div>
  
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
    
  </footer>
  <!-- Footer -->