<div class="card borde-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="assets/Foto-perfil/Henriquecamisageneration.jpg.png" alt="Foto do Henrique com a camisa da Generation">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Henrique Marcelino</h5>
      <p class="card-text text-center text-monospace">Aluno de desenvolvimento web Front-end na Generation Brasil.</p>
      
      <a href="https://www.linkedin.com/in/henrique-marcelino-b00954191/" class="btn btn-outline-info mb-3 
      d-flex justify-content-center" target="_blank">Linkedin</a>

      <a href="https://github.com/HenriqueMarcelino" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>
